<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>{{ current_rubric.name }}, которые ищут семью</title>
    <style>
        @media (min-width: 1100px) {
            main {
                display: grid;
                grid-gap: 50px;
                grid-template-columns: 200px 200px 200px 200px;
            {#grid-template-rows: auto;#} justify-content: center;
            }

            .dog_card {
                background-color: #5E5694;
                border-radius: 30px;
                height: calc(200px * 4 / 3);
                display: flex;
                flex-wrap: wrap;
            {#flex-direction: column; padding: 3px;#} background: linear-gradient(to right, red, purple);
            }

            .dog_card_image {
                border-radius: 30px;
            }

            .dog_card_title {
                display: inline-block;
                width: 200px;
                height: calc((200px * 4 / 3 - 200px) / 2);
                margin: 0;
                color: white;
            {#padding: 2rem;#}
            }

            .dog_card_button {
                width: 100px;
                height: calc((200px * 4 / 3 - 200px) / 2);
                padding: 0;
            }

            .dog_card_button_right {
                border-bottom-right-radius: 30px;
            }

            .dog_card_button_left {
                border-bottom-left-radius: 30px;
            }
        }
    </style>
</head>
<body>
<nav>
    <a href="{% url 'index' %}">Все собаки, которые ищут семью</a>
    {% for rubric in rubrics %}
        <a href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name }}</a>
    {% endfor %}
</nav>
<main>
    {% for dog in dogs %}
        <div class="dog_card">
            {#            <p>{{ dog.description }}</p>#}
            <img src="{{ dog.image.url }}" class="dog_card_image" alt="" style="height: 200px; width: 200px;">
            <p class="dog_card_title">{{ dog.name }}, {{ dog.age }}</p>
            {#            <a class="dog_card_button_link" href="{{ dog.more_photos_link }}">#}
            <button class="dog_card_button dog_card_button_left">Больше фото</button>
            <button class="dog_card_button dog_card_button_right">Подробнее</button>
        </div>
    {% endfor %}
</main>
{#<h1>Собаки, которые ищут семью:</h1>#}

</body>
</html>