<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
          integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" rel="stylesheet">
    <!--    my styles-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Собаки, которые ищут семью</title>
    <style>
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a aria-current="true" class="list-group-item list-group-item-action active" href="{% url 'index' %}">Все
                    собаки, которые ищут семью</a>
                {% for rubric in rubrics %}
                <a class="list-group-item list-group-item-action" href="{% url 'by_rubric' rubric.pk %}">{{ rubric.name
                    }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            <div class="row row-cols-1 row-cols-md-3 mt-3">
                {% for dog in dogs %}
                {# вверху тег#}
                <div class="col mb-4">
                    <div class="card h-100 border-success mb-3" style="width: 20rem;">
                        {%if dog.image%}
                        <img alt="..." class="card-img-top" src="{{ dog.image.url }}" style="height: 15rem;">
                        {% else%}
                        <img alt="" src="#">
                        {%endif%}
                        <div class="card-header">
                            <h5 class="card-title">{{ dog.name }}</h5>
                            <p class="card-text">{{ dog.description }}</p>
                        </div>
                        <div class="card-body bg-transparent border-succes">
                            <p class="card-text">Полных лет: {{ dog.age|floatformat }}</p>
                            <p class="card-text">Шерстяной покров: {{ dog.fur }}</p>
                        </div>
                        <div class="card-footer bg-transparent border-succes">
                            <a class="btn btn-primary w-100 mb-3" href="#" target="_blank">Подробнее</a>
                            <a class="btn btn-primary w-100" href="{{ dog.more_photos_link }}" target="_blank">Больше
                                фото</a>
                            {# {{ dog.more_photos_link }} - деректива#}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
</body>
</html>